/* frontend/src/styles/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Patrick+Hand&family=Caveat+Brush&family=Inter:wght@400;500;700&family=Outfit:wght@200;300;500&display=swap');

[class*="Manrope"] { font-family: "Manrope", sans-serif !important; }
[class*="Inter"] { font-family: "Inter", sans-serif !important; }
[class*="Outfit"] { font-family: "Outfit", sans-serif !important; }
[class*="Caveat_Brush"] { font-family: "Caveat Brush", cursive !important; }
[class*="Patrick_Hand"] { font-family: "Patrick Hand", cursive !important; }